In [7]:
import pandas as pd
import sys
sys.path.append('../utils')
from functions import clean_million_song_subset

In [2]:
hot_100 = pd.read_csv('../data/1_hot_100.csv')
hot_100['isHot'] = True

hot_100.head()

                 Song                  Artist  isHot
0    Die With A Smile  Lady Gaga & Bruno Mars   True
1  A Bar Song (Tipsy)               Shaboozey   True
2  Birds Of A Feather           Billie Eilish   True
3        Lose Control             Teddy Swims   True
4                APT.       ROSE & Bruno Mars   True

In [3]:
million_song_subset = pd.read_csv('../data/2_million_song_subset_raw.csv', delimiter=';')
million_song_subset['isHot'] = False

million_song_subset = clean_million_song_subset(million_song_subset)

million_song_subset.head()

                                    Song                  Artist  isHot
0         Je Sais Que La Terre Est Plate          Rapha\xc3\xabl  False
1                              On Efface           Julie Zenatti  False
2                        Howells Delight   The Baltimore Consort  False
3                          Martha Served            I Hate Sally  False
4  Zip-A-Dee-Doo-Dah (Song of the South)  Orlando Pops Orchestra  False

In [4]:
combined_data = pd.concat([hot_100, million_song_subset], ignore_index=True)

In [5]:
combined_data.head()
combined_data.to_csv('../data/4_combined_clean_dataset.csv', index=False)